
*.eMesh
*.extendedFeatureEdgeMesh
*.dat
*.rhl
*.3dmbak
*/processor*/*
*residuals.png
*.ini
*.obj

*.gz

postProcessing

processor*

constant/extendedFeatureEdgeMesh
*.eMesh
constant/polyMesh/*
!constant/polyMesh/blockMeshDict
constant/cellToRegion
*.OpenFOAM
**/polyMesh/*